.section-py {
    padding: 2.25rem 0 !important;
}

.section .title-box {
  
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 40px;
}

.hero-title {
    margin-top: 70px !important;
    margin-bottom: 0px !important;
}

#landingHero {
    padding-bottom: 0px !important;
}
.see-more-item {
    /* padding: 5px; */
}

.see-more-item i {
    font-size: 25px;
    position: relative;
    top: 1px;
}

.product-idea {
    text-align: left !important;
}

@media (max-width: 767.98px) {
    .see-more-item .btn {
        padding: 0.1rem 0.5rem;
    }

    .title-box {
        font-size: 1.1rem !important;
    }

    
    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
    }

    .product-item__info.name-info {
        display: block !important;
    }

    .product-item__info .product-item__title {
        font-size: 0.9rem;
    }
    .product-idea {
        text-align: center !important;
    }
}
